.svg--stretch {
  width: 100%;
  height: 100%;
}

.svg-about--1 {
  width: em(61);
  height: em(29);
}
.svg-about--2 {
  width: em(49);
  height: em(59);
}
.svg-about--3 {
  width: em(47);
  height: em(42);
}

.svg-shape--circle {
  width: em(199);
  height: em(199);
}
.svg-shape--parallel {
  width: em(237);
  height: em(277);
}
.svg-shape--pie {
  width: em(211);
  height: em(211);
}
.svg-shape--rectangle {
  width: em(391);
  height: em(230);
}
.svg-shape--triangle {
  width: em(226);
  height: em(324);
}

.svg-social {
  width: em(18);
  height: em(18);
}