// Color swatch.
//
// Markup:
// <div class="sg-color__swatch {$modifiers}"></div>
//
// Styleguide 2.3.

.sg-color {
  text-align: center;
}
.sg-color__group {
  & + & {
    margin-top: em($ratio--xl);
  }
}
// .sg-color__item {
  // display: inline-block;
  // @include margin(null em($ratio--b));
// }

// Swatches.
[class^="sg-color__swatch"],
[class*=" sg-color__swatch"] {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: em($ratio--b);
}

.sg-color__outline--small {
  width: em($ratio--s);
  height: em($ratio--s);
}

.sg-color__outline {
  width: em($ratio--xl);
  height: em($ratio--xl);
}

.sg-color__solid--small {
  width: em($ratio--m);
  height: em($ratio--m);
}

.sg-color__solid {
  width: em($ratio--h);
  height: em($ratio--h);
}

// Fields.
.sg-color__field {
  position: relative;
  text-align: center;
  height: 40vh;
}

// Overlay.
[class^="sg-color__overlay"],
[class*=" sg-color__overlay"] {
  @include stretch-overlay;
  @include pseudo-center--parent;
  font-size: em($ratio--m);
}
.sg-color__overlay--big {
  font-size: em($ratio--l);
}

[class^="sg-color__glyph"],
[class*=" sg-color__glyph"] {
  & + & {
    margin-left: 25vw;
  }
}
.sg-color__glyph--white {
  color: white;
}
.sg-color__glyph--black {
  color: black;
}

$colors__groups: 1 2 3 4;
$colors__shades: "white", "light", "basic", "dark", "black";

$colors__palette:
  $c-color1--white $c-color1--light $c-color1 $c-color1--dark $c-color1--black
  $c-color2--white $c-color2--light $c-color2 $c-color2--dark $c-color2--black
  $c-color3--white $c-color3--light $c-color3 $c-color3--dark $c-color3--black
  $c-color4--white $c-color4--light $c-color4 $c-color4--dark $c-color4--black;

@each $group in $colors__groups {
  $currentGroup: index($colors__groups, $group);
  $offset: ($currentGroup - 1) * length($colors__shades);

  @each $shade in $colors__shades {
    $currentShade: index($colors__shades, $shade);
    $currentColor: $offset + $currentShade;

    // Background-color class.
    .sg-background-color#{$currentGroup}--#{$shade} {
      background-color: nth($colors__palette, $currentColor);
    }

    // Border-color class.
    .sg-border-color#{$currentGroup}--#{$shade} {
      border: $line--l solid nth($colors__palette, $currentColor);
    }
  }
}

$colors__grey: $c-grey1 $c-grey2 $c-grey3 $c-grey4 $c-grey5 $c-grey6 $c-grey7 $c-grey8;

// Neutral backgrounds.
@each $grey in $colors__grey {
  $currentGrey: index($colors__grey, $grey);

  .sg-background--grey#{$currentGrey} {
    background-color: $grey;
  }

  .sg-border--grey#{$currentGrey} {
    border: $line--l solid $grey;
  }
}