.o-carousel {
  @include padding(null em($ratio--xl));
}
.o-carousel__item {
  width: em($width--b);

  @include padding(null em($ratio--b));
  &:nth-child(1n) {
    color: $c-color1;
  }
  &:nth-child(2n) {
    color: $c-color2;
  }
  &:nth-child(3n) {
    color: $c-color3;
  }
  &:nth-child(4n) {
    color: $c-color4;
  }
}
.o-carousel__text {
  text-align: center;
  margin-top: em($ratio--l);
  p {
    margin-top: 0;
  }

  opacity: 0;
  transform: translateY(25%);

  transition: opacity $duration--b, transform $duration--b;

  .swiper-slide-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

[class^="o-carousel__arrow"],
[class*=" o-carousel__arrow"] {
  position: absolute;
  top: 0;
  height: em($width--b);

  transition: transform $duration--b $timing--b;

  @include padding(null em($ratio--l));
  @include pseudo-center--parent;

  @include state--link {
    color: $c-grey3; 
  }
  @include state--hover {
    color: $c-color1;
  }
}
.o-carousel__arrow--prev {
  left: 20%;
}
.o-carousel__arrow--next {
  right: 20%;
}

.arrow--is-disabled {
  cursor: default;
  @include state--all {
    color: $c-grey3;
  }
}