.o-hero {
  position: relative;

  height: 100vh;

  @include media($tablet__up) {
    min-height: em(480);
  }
}

.o-hero__overlay {
  @include stretch-overlay;
  @include pseudo-center--parent;

  text-align: center;
  color: white;
  white-space: nowrap;

  z-index: $index--b;
}

.o-hero__content {
  @include padding(null em($ratio--m));

  // @include media($phone--landscape__up) {
  //   @include padding(null em($ratio--m));
  // }

  margin-left: em(-20); // Offseting white-space from pseudo-centering

  @include collapse-children;
  @include pseudo-center--child;
  white-space: normal;
}