// Text input.
.o-input {
  height: em($height--b);
  padding: 0 em($ratio--b);

  background-color: white;

  border: none;
  border-bottom: $line--b solid $c-grey2;

  font-size: em($unit--m);
  
  @include state--hover {
    border-bottom-color: $c-grey4;
  }
  @include state--focus {
    border-bottom-color: $c-color2;
    outline: 0;
  }
  // iOS reset.
  -webkit-appearance: none;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 $ratio--m $c-grey2 inset;
    border-bottom-color: $c-grey3;
  }

  @include media($tablet__up) {
    min-width: em($width--b, $unit--m);
  }
}