[class^="o-submit"],
[class*=" o-submit"] {
  padding: 0 0 em($ratio--t);

  background-color: transparent;

  border: none;
  border-bottom: $line--b solid;

  // iOS reset.
  border-radius: 0;

  font-family: $font__sans;
  font-weight: $font__sans--medium;
  font-size: em($unit--m);

  @include state--focus {
    outline: 0;
  }
}