.o-parallax {
  .body--is-desktop & {
    position: fixed;
  }
  .body--not-desktop & {
    position: absolute;
  }
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: no-repeat center / cover;

  z-index: -1;
}

.o-section--light {
  background-color: $c-grey1;
}

.o-logo {
  display: inline-block;
  width: em(150);
  height: em(25);


  overflow: hidden;
  svg {
    fill: white;
  }

  @include media($nb--large) {
    display: block;

    margin-left: em($ratio--xs);
  }
}

.o-mark {
  display: block;

  color: white;
  background-color: transparent;

  font-size: em($unit--m);
  text-transform: uppercase;
  &:before {
    display: inline-block;
    vertical-align: top;

    transition: transform $duration--s;
  }
}
.o-mark__underline {
  border-bottom: $line--b solid;
}
.o-mark__tracked {
  letter-spacing: em($ratio--xxs);
}

[class^="o-iconed--"],
[class*=" o-iconed--"] {
  &:before,
  &:after {
    font-size: #{$icon--b}px;
  }
}

.o-iconed--left:before {
  margin-right: em($ratio--xs);
}

.o-peek {
  position: relative;
  height: 62vh; // Golden ratio, bitch!
}

.o-figure {
  margin: 0;
}
.o-figure__media {
  position: relative;

  .csstransforms &:after {
    content: "";

    position: absolute;
    top: $line--l;
    bottom: $line--l;
    left: $line--l;
    right: $line--l;

    border-radius: 50%;
    background-color: white;

    transition: transform $duration--l $timing--f;

  }
  .swiper-slide-active &:after {
    transform: scale(0);
  }
}
.o-figure__image {
  border-radius: 50%;
}

.o-subscribe {
  line-height: $spacing--s;

  @include media($tablet__up) {
    @include clearfix;

    clear: left;
  }
}
.o-subscribe__text {
  color: $c-color1;

  margin-bottom: em($ratio--m);

  @include media($phone) {
    &:before {
      display: block;
      margin-right: 0;
    }
  }
  @include media($tablet--portrait) {
    @include span-columns(4);
    @include shift(1);
  }
  @include media($nb--large) {
    @include span-columns(4);
    @include shift(2);
  }
}

.o-social {
  @include media($phone) {
    @include margin(em($ratio--b) null);
  }
  @include media($tablet__up) {
    clear: both;

    @include margin(em($ratio--l) null);
  }
}
.o-social__link {
  display: inline-block;

  padding: em($ratio--xs);

  // width: 30px;
  // height: 30px;
  // overflow: hidden;

  svg {
    vertical-align: middle;
    fill: currentColor;
  }

  @include state--link {
    color: $c-grey6;
  }
  @include state--active {
    color: $c-color1;
  }
}
.o-social__title {
  margin-left: em($ratio--xs);
}

.o-credit__authors {
  color: $c-grey4;
}
.o-credit__tiny {
  color: $c-grey3;
}