.o-button {
  display: inline-block;

  font-size: em($unit--l);

  & + & {
    margin-left: em($ratio--m);
  }
}
.o-button__icon {
  @include size(em(18));

  vertical-align: middle;

  fill: currentColor;

  margin-right: em($ratio--xs);
}

.o-button__text {
  border-bottom: $line--b solid;
}

.o-button--primary {
  @include state--link {
    color: $color1--500;
  }
  @include state--active {
    color: $color1--300;
  }
}

.o-button--secondary {
  @include state--link {
    color: $color3--300;
  }
  @include state--active {
    color: white;
  }
}
