/*
Button

.o-button--solid - Solid background.
.o-button--outline - Outline variant.
.o-button--block.o-button--outline - Full-width, e.g. outline.
.o-button--selected - Selected.

Markup:
<a href="#" class="{{modifier_class}}">Button</a>

Styleguide 3.1.
*/

.o-button {
  display: inline-block;

  font-size: em($unit--l);

  & + & {
    margin-left: em($ratio--m);
  }

  @include state--link {
    color: $c-color1;
  }
  @include state--active {
    color: $c-color1--white;
  }
}
.o-button__icon {
  @include size(em(18));

  vertical-align: middle;

  fill: currentColor;

  margin-right: em($ratio--xs);
}

.o-button__text {
  border-bottom: $line--b solid;
}
