.o-carousel {
  user-select: none;
  // Important to set box-sizing!
  box-sizing: content-box;
}

.o-carousel__list {
  @include reset-list;
  &:hover {
    cursor: grab;
  }
}

.o-carousel__item {
  width: em($width--s);
  @include padding(null em($ratio--xs));

  @include media($tablet__up) {
    @include padding(null em($ratio--b));
  }

  @include media($tablet--portrait) {
    width: em($width--b);
  }
  @include media($nb--large) {
    width: em($width--m);
  }
  @include media($desktop--wide) {
    width: em($width--l);
  }

  color: $c-color1;

  &:nth-of-type(2n) {
    color: $c-color2;
  }
  &:nth-of-type(3n) {
    color: $c-color3;
  }
  &:nth-of-type(4n) {
    color: $c-color4;
  }
}
.o-carousel__text {
  text-align: center;
  margin-top: em($ratio--m);

  p {
    margin: 0;
  }

  opacity: 0;
  transform: translateY(25%);

  transition: opacity $duration--b, transform $duration--b;

  .swiper-slide-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

[class^="o-carousel__arrow"],
[class*=" o-carousel__arrow"] {
  position: absolute;
  top: em(242); // Magic alignment with heading

  @include media($tablet__up) {
    top: 0;
  }
  @include media($tablet--portrait) {
    height: em($width--b);
  }
  @include media($nb--large) {
    height: em($width--m);
  }
  @include media($desktop--wide) {
    height: em($width--l);
  }

  text-decoration: none; 

  transition: transform $duration--b $timing--b;

  @include padding(null em($ratio--m));
  @include pseudo-center--parent;

  @include state--link {
    @include rgba(color, $c-grey6, .5)
  }
  @include state--hover {
    color: $c-color1;
  }
}
.o-carousel__arrow--prev {
  left: 0;
  @include media($tablet--portrait) {
    left: 10%;
  }
  @include media($nb--large) {
    left: 12.5%;
  }
  @include media($desktop--wide) {
    left: 17.5%;
  }
}
.o-carousel__arrow--next {
  right: 0;
  @include media($tablet--portrait) {
    right: 10%;
  }
  @include media($nb--large) {
    right: 12.5%;
  }
  @include media($desktop--wide) {
    right: 17.5%;
  }
}

.arrow--is-disabled {
  cursor: default;
  @include state--all {
    @include rgba(color, $c-grey6, .25)
  }
}