.o-hero {
  position: relative;
  overflow: hidden;

  height: 100%;

  @include media($tablet__up) {
    min-height: em(480);
  }
}

.o-hero__overlay {
  @include position(absolute, 0 0 0 0);
  @include pseudo-center--parent;

  text-align: center;
  color: white;
  white-space: nowrap;

  z-index: $index--b;
}

.o-hero__content {
  max-width: em($width--xl);
  
  @include padding(null em($ratio--m));

  margin-left: em(-20); // Offseting white-space from pseudo-centering

  @include collapse-children;
  @include pseudo-center--child;
  white-space: normal;

  @include media($phone--portrait) {
    padding-bottom: em($ratio--m);
  }
}
