// Text input.
.o-input {
  height: em($height--b);
  padding: 0 em($ratio--b);

  background-color: white;

  border: none;
  border-bottom: $line--b solid $grey--200;

  font-size: em($unit--m);
  
  @include state--hover {
    border-bottom-color: $grey--400;
  }
  @include state--focus {
    border-bottom-color: $color2--500;
    outline: 0;
  }
  // iOS reset.
  -webkit-appearance: none;
  border-radius: 0;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 $ratio--m $grey--200 inset;
    border-bottom-color: $grey--300;
  }

  @include media($tablet__up) {
    min-width: em($width--b, $unit--m);
  }
}
