.o-swatches {
  @include clearfix;

  list-style-type: none;
  padding-left: 0;

  @include margin(null auto);
  max-width: em(1100);

  > :nth-child(2),
  > :nth-child(5),
  > :nth-child(7),
  > :nth-child(12),
  > :nth-child(16),
  > :last-child {
    @include shift(0.5 of 4);
  }

  > :nth-child(22) {
    @include shift(1 of 4);
    clear: left;
  }

  > :nth-child(6),
  > :nth-child(10),
  > :nth-child(17) {
    @include omega();
  }
}
.o-swatches__item {
  position: relative;

  @include span-columns(0.5 of 4);

  margin-bottom: flex-gutter(4);

  text-align: center;

  &:hover {
    .o-swatches__solid {
      transform: translateY(em(-$unit--xl));
    }

    .o-swatches__name {
      opacity: 1;
    }
  }
}
.o-swatches__solid {
  display: block;

  padding-bottom: 100%;

  background-position: center;
  background-size: cover;

  transition: transform $duration--s;
}
.o-swatches__solid--wood {
  border-radius: 50%;
}
.o-swatches__name {
  display: block;

  @include position(absolute, null 0 0 0);

  opacity: 0;

  transition: opacity $duration--s;

  font-weight: $font__sans--regular;
}

.o-swatches__content {
  @include span-columns(2 of 4);

  text-align: center;
  color: $color1--400;
}
.o-swatches__note {
  @include span-columns(2 of 4);
  margin-bottom: flex-gutter(4);

  text-align: center;
  color: $color3--300;
}
