block template-variables
  - var page = {title: "Styleguide", description: "Styleguide description."}

extends _shared

append template-head
  <!-- site:css -->
  <!-- endinject -->

  <!-- build:css assets/css/guide-min.css -->
  <!-- guide:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- vendor:js -->
  <!-- endinject -->

block template-content
  include /../bower_components/chj-framework/app/assets/jade/vendor/_kss.html

append template-foot
  <!-- site:js -->
  <!-- endinject -->

  <!-- build:js assets/js/guide-min.js -->
  <!-- guide:js -->
  <!-- endinject -->
  <!-- endbuild -->
