extends _shared

append template-head
  <!-- build:css assets/css/style-min.css -->
  <!-- site:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js assets/js/vendor-min.js -->
  <!-- vendor:js -->
  <!-- endinject -->
  <!-- endbuild -->

block template-body
  include /../bower_components/chj-framework/app/assets/jade/mixins/_dummy
  include ../../svg/complete.svg
  include ../mixins/_swatch

block template-content
  p Basic template.

append template-foot
  include ../partials/_analytics.html

  <!-- build:js assets/js/site-min.js -->
  <!-- site:js -->
  <!-- endinject -->
  <!-- endbuild -->

