// A basic wrap.
//
// .l-wrap--small - Smaller.
// .l-wrap--big - Bigger.
// .l-wrap--vertical - Only vertical.
// .l-wrap--horizontal - Only horizontal.
// .l-wrap--no-top - No top padding.
// .l-wrap--no-bottom - No bottom padding.
//
// Markup:
// <div class="l-wrap {$modifiers}">Text.</div>
//
// Styleguide 1.1.

.l-wrap {
  padding: em($ratio--b);

  margin-right: auto;
  margin-left: auto;
  @include clearfix;
  @include collapse-children;

  @include media($phone--landscape) {
    padding: em($ratio--m);
  }
  @include media($tablet) {
    padding: em($ratio--l);
  }
  @include media($desktop) {
    padding: em($ratio--l) em($ratio--xl);
  }
}

.l-wrap--small {
  @include padding(em($ratio--s) null);
  
  @include media($tablet--portrait) {
    @include padding(em($ratio--b) null);
  }
  @include media($tablet--landscape__up) {
    @include padding(em($ratio--m) null);
  }
}

.l-wrap--big {
  @include padding(em($ratio--m) null);

  @include media($tablet--portrait) {
    @include padding(em($ratio--l) null);
  }
  @include media($tablet--landscape__up) {
    @include padding(em($ratio--xl) null);
  }
}

.l-wrap--vertical {
  @include padding(null 0);
}
.l-wrap--horizontal {
  @include padding(0 null);
}
.l-wrap--no-top {
  padding-top: 0;
}
.l-wrap--no-bottom {
  padding-bottom: 0;
}


// Custom
.l-wrap--huge {
  @include padding(em($ratio--l) null);

  @include media($tablet) {
    @include padding(em($ratio--xxl) null);
  }
  @include media($desktop) {
    @include padding(em($ratio--h) null);
  }
}

.l-wrap--top-big {
  padding-top: em($ratio--l);

  @include media($tablet__up) {
    padding-top: em($ratio--xl);
  }
}

.l-wrap--bottom-big {
  padding-bottom: em($ratio--l);

  @include media($tablet__up) {
    padding-bottom: em($ratio--xl);
  }
}
