include ../../svg/_build/shape_circle.svg
include ../../svg/_build/shape_parallel.svg
include ../../svg/_build/shape_pie.svg
include ../../svg/_build/shape_rectangle.svg
include ../../svg/_build/shape_triangle.svg