a {
  text-decoration: none;
}

.i-link--dark {
  @include state--link {
    color: $grey--400;
  }
  @include state--active {
    color: $grey--600;
  }
}

.i-link--black {
  @include state--link {
    color: $grey--600;
  }
  @include state--active {
    color: $grey--800;
  }
}

.i-link--light {
  @include state--link {
    color: $grey--300;
  }
  @include state--active {
    color: $grey--500;
  }
}

.i-link--underline {
  border-bottom: $line--b solid;

  @include state--link {
    color: white;
    border-color: rgba(white, .25);
  }
  &:hover {
    color: $color3--300;
    border-color: $color3--300;
  }
  &:active {
    color: $color4--300;
    border-color: $color4--300;
  }
}
