$c-hue1: 205;
$c-hue2: 165;
$c-hue3: 55;
$c-hue4: 15;

$c-offset: 10;

// Primary colors.
$c-color1--white: hsb($c-hue1, 80, 95);
$c-color1--light: hsb($c-hue1, 85, 90);
$c-color1: hsb($c-hue1, 95, 75);
$c-color1--dark: hsb($c-hue1, 85, 65);
$c-color1--black: hsb($c-hue1 + $c-offset, 85, 30);

$c-color2--white: hsb($c-hue2, 40, 100);
$c-color2--light: hsb($c-hue2, 70, 85);
$c-color2: hsb($c-hue2, 70, 80);
$c-color2--dark: hsb($c-hue2, 75, 60);
$c-color2--black: hsb($c-hue2, 65, 35);

$c-color3--white: hsb($c-hue3, 40, 100);
$c-color3--light: hsb($c-hue3, 65, 90);
$c-color3: hsb($c-hue3, 80, 90);
$c-color3--dark: hsb($c-hue3, 80, 85);
$c-color3--black: hsb($c-hue3 - 10, 70, 90);

$c-color4--white: hsb($c-hue4, 40, 100);
$c-color4--light: hsb($c-hue4, 50, 100);
$c-color4: hsb($c-hue4, 55, 95);
$c-color4--dark: hsb($c-hue4, 50, 85);
$c-color4--black: hsb($c-hue4, 70, 80);

// Neutral colors.
$c-grey1: hsb(045, 02, 95);
$c-grey2: hsb(045, 03, 90);
$c-grey3: hsb(045, 04, 80);
$c-grey4: hsb(045, 05, 65);
$c-grey5: hsb(215, 06, 50);
$c-grey6: hsb(215, 07, 35);
$c-grey7: hsb(215, 08, 25);
$c-grey8: hsb(215, 09, 10);

// Interactive.
$c-link--light: $c-color3--light;
$c-link: $c-color2;
$c-link--dark: $c-color3--dark;

$c-visited: $c-link;
$c-hover: $c-color1;

$c-active: $c-color3;
$c-active--light: $c-color3--light;
$c-active--dark: $c-color3--dark;

$c-select__background: $c-color2--light;
$c-select__text: $c-color2--black;

$grey-4: $c-grey4;
$grey--200: $c-grey2;
$grey--700: $c-grey7;
$grey--900: $c-grey8;

$c-select__bg: $c-select__background;
