$hue-1: 205;
$hue-2: 165;
$hue-3: 55;
$hue-4: 15;

$offset-1: 10;

// Primary colors.
$color1--300: hsb($hue-1, 80, 95);
$color1--400: hsb($hue-1, 85, 90);
$color1--500: hsb($hue-1, 95, 75);
$color1--700: hsb($hue-1, 85, 65);
$color1--900: hsb($hue-1 + $offset-1, 85, 30);

$color2--300: hsb($hue-2, 40, 100);
$color2--400: hsb($hue-2, 70, 85);
$color2--500: hsb($hue-2, 70, 80);
$color2--700: hsb($hue-2, 75, 60);
$color2--900: hsb($hue-2, 65, 35);

$color3--300: hsb($hue-3, 40, 100);
$color3--400: hsb($hue-3, 65, 90);
$color3--500: hsb($hue-3, 80, 90);
$color3--700: hsb($hue-3, 80, 85);
$color3--900: hsb($hue-3 - $offset-1, 70, 90);

$color4--300: hsb($hue-4, 40, 100);
$color4--400: hsb($hue-4, 50, 100);
$color4--500: hsb($hue-4, 55, 95);
$color4--700: hsb($hue-4, 50, 85);
$color4--900: hsb($hue-4, 70, 80);

// Neutral colors.
$grey--100: hsb(045, 02, 95);
$grey--200: hsb(045, 03, 90);
$grey--300: hsb(045, 04, 80);
$grey--400: hsb(045, 05, 65);
$grey--500: hsb(215, 06, 50);
$grey--600: hsb(215, 07, 35);
$grey--700: hsb(215, 08, 25);
$grey--800: hsb(215, 29, 19);

// Interactive.
$c-link--light: $color3--400;
$c-link: $color2--500;
$c-link--dark: $color3--700;

$c-visited: $c-link;
$c-hover: $color1--500;

$c-active: $color3--500;
$c-active--light: $color3--400;
$c-active--dark: $color3--700;

$c-select__background: $color2--400;
$c-select__text: $color2--900;

$c-select__bg: $c-select__background;
