.l-wrap {
  max-width: em($width--xl);
}

.l-wrap--huge {
  @include padding(em($ratio--l) null);

  @include media($tablet) {
    @include padding(em($ratio--xxl) null em($ratio--h));
  }
  @include media($desktop) {
    @include padding(em($ratio--h) null);
  }
}

.l-wrap--top-big {
  padding-top: em($ratio--l);

  @include media($tablet__up) {
    padding-top: em($ratio--xl);
  }
}

.l-wrap--bottom-big {
  padding-bottom: em($ratio--l);

  @include media($tablet__up) {
    padding-bottom: em($ratio--xl);
  }
}