.l-wrap--huge {
  @include padding(em($ratio--xl) null);

  @include media($tablet--portrait) {
    @include padding(em($ratio--xxl) null);
  }
  @include media($tablet--landscape__up) {
    @include padding(em($ratio--h) null);
  }
}

.l-wrap--bottom-big {
  padding-bottom: em($ratio--m);

  @include media($tablet--portrait) {
    padding-bottom: em($ratio--l);
  }
  @include media($tablet--landscape__up) {
    padding-bottom: em($ratio--xl);
  }
}