.m-intro__top {
  display: inline-block;
}
.m-intro__text {
  @include media($tablet--portrait) {
    @include span-columns(4);
    @include shift(1);
  }
  @include media($nb--large) {
    @include span-columns(4);
    @include shift(2);
  }
}

.m-intro__more {
  position: absolute;
  bottom: em($ratio--m);
  left: 25%;
  right: 25%;

  padding-right: em($ratio--s);

  text-align: center;

  z-index: $index--m;

  @include media($tablet__up) {
    bottom: em($ratio--l);
  }

  &:hover {
    .o-mark:before {
      transform: translateY(25%);
    }
  }
}
.m-intro__background {
  background-image: url("../images/bg_top1.jpg");

  z-index: $index--xs;
}

.m-opening__background {
  background-image: url("../images/bg_stopmotion1b.jpg");
}

.m-features {
  color: $c-grey5;
  background-color: white;
}
.m-features__text {
  margin-top: 0;
  
  text-align: center;
}