// Families.
$font__sans: "apercu", sans-serif;
$font__serif: "museo-slab", serif;
$font__mono: "apercu-mono", monospace;

// Weights.
$font__sans--regular: 500;
$font__sans--medium: 600;

$font__serif--light: 300;
$font__serif--regular: 500;

$font__mono--regular: 500;

// Defaults.
$default__size: $unit--b;
$default__family: $font__mono;
$default__weight: $font__mono--regular;
$default__leading: $spacing--b;

@font-face {
  font-family: "apercu";
  src: url("../fonts/Apercu.eot");
  src: url("../fonts/Apercu.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Apercu.woff") format("woff"),
       url("../fonts/Apercu.ttf") format("truetype"),
       url("../fonts/Apercu.svg#apercu") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "apercu";
  src: url("../fonts/Apercu-Medium.eot");
  src: url("../fonts/Apercu-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Apercu-Medium.woff") format("woff"),
       url("../fonts/Apercu-Medium.ttf") format("truetype"),
       url("../fonts/Apercu-Medium.svg#apercu") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "apercu-mono";
  src: url("../fonts/apercu-mono-webfont.eot");
  src: url("../fonts/apercu-mono-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/apercu-mono-webfont.woff") format("woff"),
       url("../fonts/apercu-mono-webfont.ttf") format("truetype"),
       url("../fonts/apercu-mono-webfont.svg#apercu-mono") format("svg");
  font-weight: 500;
  font-style: normal;
}