// Transitions.
$duration--xl: .75s;
$duration--l:  .5s;
$duration--b:  .25s;
$duration--s:  .125s;

$timing--xf: $ease-in-out-back;

$timing--f: $ease-in-out-quint;

$timing--b: $ease-in-out-cubic;
$timing--b-out: $ease-out-cubic;
