// Units
$unit--xxl: 82;
$unit--xl: 36;
$unit--l:  22;
$unit--m:  18;
$unit--b:  16;
$unit--s:  14;
$unit--xs: 12;

// Spacing
$spacing--m: 2;
$spacing--b: 1.5;

// Radius
$radius--l: 4px;
$radius--b: 2px;

// Thickness
$line--l: 4px;
$line--m: 3px;
$line--b: 2px;
$line--s: 1px;

// Icons
$icon--l: 48;
$icon--m: 32;
$icon--b: 24;
$icon--s: 16;

// Z-index
$index--xl:  400;
$index--l:   300;
$index--m:   200;
$index--b:   100;
$index--s:   50;
$index--xs:  10;
$index--xxs: 1;

// Widths
$width--xxl: 800;

// Heights
$height--m: round(golden-ratio($unit--b * $spacing--m, 1));
$height--b: round(golden-ratio($unit--b * $spacing--b, 1));

// Ratios
$ratio--xxh: round(golden-ratio($unit--b,  7));
$ratio--xh:  round(golden-ratio($unit--b,  6));
$ratio--h:   round(golden-ratio($unit--b,  5));
$ratio--xxl: round(golden-ratio($unit--b,  4));
$ratio--xl:  round(golden-ratio($unit--b,  3));
$ratio--l:   round(golden-ratio($unit--b,  2));
$ratio--m:   round(golden-ratio($unit--b,  1));
$ratio--b:   $unit--b;
$ratio--s:   round(golden-ratio($unit--b, -1));
$ratio--xs:  round(golden-ratio($unit--b, -2));
$ratio--xxs: round(golden-ratio($unit--b, -3));