extends templates/_basic

block template-body

  header.m-intro.o-hero#parallax-1
    .o-hero__overlay
      .o-hero__content
        .m-intro__top
          strong.o-logo
            svg.svg--stretch
              use(xlink:href="#logo_small")
            span.o-logo__title notebuuk
          h1.t-h1.m-intro__title from paper 
            span.t-h1__underline.m-intro__underline with love
        p.m-intro__text.t-lead Say hello to a&nbsp;new brand of premium notebuuks, entirely handmade, entirely awesome.
    #parallax-1--child.m-intro__background.o-parallax

    a(href="#about", data-scrollto).m-intro__more
      mark.o-mark.o-iconed--left.ss-down
        span.o-mark__underline
          span.o-mark__tracked Mor
          | e

  main#about.m-about
    .m-about__foreground.l-wrap.l-wrap--huge
      h2.t-h2.m-about__title meet your 
        span.t-h2__underline new favourite
        |  
        span.m-about__break notebuuk

      p.m-about__text.t-lead notebuuk &mdash; a&nbsp;continuation of an award-winning 
        a.i-link--underline(href="http://graduationprojects.eu/en/2013/Christian-Jansky") Graduation Project
        |  &mdash; was born out of passion for honest craft, quality materials and unique design.

      ul.m-about__triplet.o-triplet
        li.o-triplet__item--1
          div.o-triplet__icon
            svg.svg-about--1
              use(xlink:href="#icon_about1")
          p.o-triplet__text Each notebuuk is completely handmade by Christian&nbsp;&amp; Tereza, two Design Master&rsquo;s students from Czech Republic. From folding of the papers to final packaging, each notebuuk is unmistakeably original.
        li.o-triplet__item--2
          div.o-triplet__icon
            svg.svg-about--2
              use(xlink:href="#icon_about2")
          p.o-triplet__text The choice of materials is what sets notebuuk apart. The juxtaposition of wood veneer inlay and book cloth &mdash; a&nbsp;subtle homage to the heydays of bookmaking &mdash; showcases what can craft and modern approach achieve.
        li.o-triplet__item--3
          div.o-triplet__icon
            svg.svg-about--3
              use(xlink:href="#icon_about3")
          p.o-triplet__text Doing away with the flimsy, over-bleached papers, notebuuks are proud to use eco-certified, recycled paper stock of multiple shades for all the possible needs in the world.

    #js-shape-group.m-about__background
      svg.m-about__shape--circle.svg-shape--circle.js-shape
        use(xlink:href="#shape_circle")
      svg.m-about__shape--parallel.svg-shape--parallel.js-shape
        use(xlink:href="#shape_parallel")
      svg.m-about__shape--pie.svg-shape--pie.js-shape
        use(xlink:href="#shape_pie")
      svg.m-about__shape--rectangle.svg-shape--rectangle.js-shape
        use(xlink:href="#shape_rectangle")
      svg.m-about__shape--triangle.svg-shape--triangle.js-shape
        use(xlink:href="#shape_triangle")

  aside.o-peek.m-opening
    .m-opening__background.o-parallax

  section.m-features
    .l-wrap.l-wrap--top-big
      h2.t-h2.t-h2--primary 7 reasons to 
        span.t-h2__underline fall in love
      p.m-features__text.t-lead Each notebuuk is destined to be your favourite companion thanks to its pocket-friendly dimensions of 114&thinsp;&times;&thinsp;184&#8239;mm. On top of that, here are seven more explanations why you&rsquo;ll love it!

    include partials/_carousel

  footer.m-footer.o-section--light
    .m-footer__foreground.l-wrap.l-wrap--big
      h2.t-h2.t-h2--secondary buuk yours 
        span.t-h2__underline now
      p.m-footer__text.t-lead Our first collection sold out in 4 days. Be there when there&rsquo;s a&nbsp;new one.

      .o-subscribe
        p.o-subscribe__text.o-iconed--left.ss-alarmclock Online store coming Q1 2015. Subscribe to get notified!
        include partials/_mailchimp.html

      .o-social
        a.i-link--black(href="http://facebook.com/notebuuk.cz").o-social__link
          svg.svg-social
            use(xlink:href="#icon_facebook")
          span.o-social__title Facebook
        a.i-link--black(href="http://instagram.com/notebuuk").o-social__link
          svg.svg-social
            use(xlink:href="#icon_instagram")
          span.o-social__title Instagram

      .o-credit
        .o-credit__authors.t-small Project of 
          a.i-link--dark(href="http://chrisjansky.cz", rel="author") Christian Jánský
          |  &amp; 
          a.i-link--dark(href="http://terezina.cz", rel="author") Tereza Čižmárová
        small.o-credit__tiny.t-tiny Photography by 
          a.i-link--light(href="http://filipberanek.com") Filip Beránek

    .m-footer__background
      svg.m-footer__shape--circle.svg-shape--circle
        use(xlink:href="#shape_circle")
      svg.m-footer__shape--parallel.svg-shape--parallel
        use(xlink:href="#shape_parallel")
      svg.m-footer__shape--pie.svg-shape--pie
        use(xlink:href="#shape_pie")
      svg.m-footer__shape--rectangle.svg-shape--rectangle
        use(xlink:href="#shape_rectangle")
      svg.m-footer__shape--triangle.svg-shape--triangle
        use(xlink:href="#shape_triangle")