doctype
html(lang="en")
head
  meta(charset="utf-8")
  meta(property="og:title", content="*|MC:SUBJECT|*")
  title *|MC:SUBJECT|*
  link(rel="stylesheet", href="assets/css/newsletter.css")

body
  include /bower_components/chj-framework/assets/jade/mixins/_dummy

  table.l-outer
    tr
      td
        table.l-inner(align="center")
          tr
            td
              h1.t-head the new collection
          tr
            td
              p.t-text--one
                | Come say hi to new editions of notebuuk this Thursday, May 14th 2015 &mdash; we will be showing them to the world for the first time during 
                a.t-link--one(href="http://www.designnahranici.cz") Design na Hranici
                |  &ndash; a&nbsp;design conference full of interesting talks held in Zlín, Czech Republic &ndash; and would love you to be part of it!
          tr
            td
              img(src="http://unsplash.it/640/360/?image=100", alt="unsplash.it")
          tr
            td
              p.t-text--two The new collection includes a&nbsp;simple, yet joyful hand-stitched notebuuk, the ideal sketchbook &ndash; yeah, finally! &ndash; and an everlasting, adorable journal. We&rsquo;ve worked all year &ndash; okay, half-year actually &ndash; long to make truly best notebuuks to date and can&rsquo;t wait to share them with you!
              p.t-text--three Looking forward to seeing you there,<br>Christian &amp; Tereza
          tr
            td
              span &copy; 2015 notebuuk
              span Check our Website &amp; Facebook page
          tr
            td
              p
                | You are receiving this newsletter as a&nbsp;Friend of notebuuk &mdash; not feeling like one anymore? Feel free to 
                a(href="#") unsubscribe
                | .
