a {
  text-decoration: none;
}

.i-link--dark {
  @include state--link {
    color: $c-grey4;
  }
  @include state--active {
    color: $c-grey6;
  }
}

.i-link--light {
  @include state--link {
    color: $c-grey3;
  }
  @include state--active {
    color: $c-grey5;
  }
}

.i-link--underline {
  border-bottom: $line--b solid;

  @include state--link {
    color: white;
    border-color: rgba(white, .25);
  }
  &:hover {
    color: $c-color3--white;
    border-color: $c-color3--white;
  }
  &:active {
    color: $c-color4--white;
    border-color: $c-color4--white;
  }
}