// Headlines.
//
// Markup:
// <h1 class="t-h1">First Headline</h1>
// <h2 class="t-h2">Second Headline</h2>
// <h3 class="t-h3">Third Headline</h3>
// <h4 class="t-h4">Fourth Headline</h4>
//
// Styleguide 0.2.
.t-h1 {
  font-family: $font__serif;
  font-weight: $font__serif--light;

  font-size: em($ratio--l);
  line-height: $spacing--xs;

  @include margin(em($ratio--xxs) null);
  @include media($tablet__up) {
    font-size: em($unit--xxl);

    @include margin(em($ratio--xs) null);
  }
}
.t-h1__underline {
  border-bottom-style: solid;
  border-bottom-width: $line--b;
  vertical-align: 25%; // Magic number

  @include media($tablet__up) {
    border-bottom-width: $line--l;
  }
}
.t-h2 {
  font-family: $font__serif;
  font-weight: $font__serif--regular;
  font-size: em($unit--l);
  line-height: $spacing--xs;

  text-align: center;

  @include margin(em($ratio--s) null);

  @include media($tablet__up) {
    font-size: em($ratio--l);
  }
}
.t-h2--primary {
  color: $c-color1;
  .t-h2__underline {
    color: $c-color4;
  }
}
.t-h2--secondary {
  color: $c-grey8;
  .t-h2__underline {
    color: $c-color2;
  }
}
.t-h2__underline {
  border-bottom-style: solid;
  border-bottom-width: $line--b;
  vertical-align: 26%;
  @include media($tablet__up) {
    border-bottom-width: $line--m;
  }
}
.t-h3 {
  font-family: $font__serif;
  font-weight: $font__serif--regular;
  font-size: em($unit--l);
  line-height: $spacing--s;

  @include margin(em($ratio--xs) null);
}
.t-h4 {
  font-size: em($unit--m);
  @include margin(em($ratio--b) null);
}