.t-lead {
  font-family: $font__sans;
  font-size: em($unit--l);
}
.t-small {
  font-size: em($unit--s);
}
.t-tiny {
  font-size: em($unit--xs);
}

[class^="t-caps"],
[class*=" t-caps"] {
  letter-spacing: .125em;
  text-transform: uppercase;
  vertical-align: middle;
}
.t-caps--small {
  font-size: em($unit--xs);
}

.t-super {
  vertical-align: 15%;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 5%;
    right: 5%;

    height: $line--b;
    background-color: currentColor;
  }
}