* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.kss-section {
  background-color: #f2f1f0; }

.kss-block {
  background-color: white;
  padding: 1em; }
  .kss-block > :first-child {
    margin-top: 0; }
  .kss-block > :last-child {
    margin-bottom: 0; }
  .kss-block + .kss-block {
    margin-top: 0.625em; }
  @media screen and (min-width: 35.0625em) and (max-width: 64em)  {
    .kss-block {
      padding: 1.625em; }
      .kss-block + .kss-block {
        margin-top: 1em; } }
  @media screen and (min-width: 64.0625em)  {
    .kss-block {
      padding: 2.625em; }
      .kss-block + .kss-block {
        margin-top: 1.625em; } }

.kss-ref {
  margin-right: 0.625em; }

.kss-variant:after {
  content: "";
  display: table;
  clear: both; }
.kss-variant + .kss-variant {
  margin-top: 0.625em;
  padding-top: 0.625em;
  border-top: 1px dotted #f2f1f0; }

.kss-example {
  box-sizing: border-box; }

.kss-description p {
  margin-top: 0.375em;
  margin-bottom: 0; }

@media screen and (min-width: 35.0625em)  {
  .kss-example {
    float: left; }

  .kss-description {
    float: right; }
 }

@media screen and (min-width: 64.0625em)  {
  .kss-example {
    width: 75%;
    padding-right: 1.625em; }

  .kss-description {
    width: 25%; }

  .kss-list {
    margin-bottom: 1.625em; }
 }

@media screen and (min-width: 35.0625em) and (max-width: 64em)  {
  .kss-example {
    width: 60%;
    padding-right: 1em; }

  .kss-description {
    width: 40%; }

  .kss-list {
    margin-bottom: 1em; }
 }

@media screen and (max-width: 35em)  {
  .kss-markup {
    display: none; }

  .kss-description {
    text-align: center;
    margin-top: 0.625em; }
 }

.kss-block .l-wrap {
  background-color: #a2e7d0; }

.sg-color {
  text-align: center; }

.sg-color__group {
  margin: 2.625em 0; }

[class^="sg-color__swatch"], [class*=" sg-color__swatch"] {
  position: relative;
  display: inline-block;
  width: 11.0625em;
  height: 11.0625em;
  border-radius: 50%;
  background-color: black;
  margin: 0.625em; }

.sg-color__swatch--small {
  width: 2.625em;
  height: 2.625em;
  margin: 0.375em; }

.sg-color__field {
  position: relative;
  text-align: center;
  height: 40vh; }

.sg-color__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.625em; }
  .sg-color__overlay:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle; }

[class^="sg-color__glyph"] + [class^="sg-color__glyph"], [class*=" sg-color__glyph"] + [class*=" sg-color__glyph"] {
  margin-left: 25vw; }

.sg-color__glyph--white {
  color: white; }

.sg-color__glyph--black {
  color: black; }

.sg-background--main1 {
  background-color: #9ecc70; }

.sg-background--main2 {
  background-color: #3dcc9c; }

.sg-background--main3 {
  background-color: #e6cd50; }

.sg-background--main4 {
  background-color: #d982ca; }

.sg-background--grey1 {
  background-color: #f2f1f0; }

.sg-background--grey2 {
  background-color: #e5e4e1; }

.sg-background--grey3 {
  background-color: #cccac6; }

.sg-background--grey4 {
  background-color: #a6a49f; }

.sg-background--grey5 {
  background-color: #7a7d80; }

.sg-background--grey6 {
  background-color: #565759; }

.sg-background--grey7 {
  background-color: #3d3e40; }

.sg-background--grey8 {
  background-color: #18191a; }
