.m-footer {
  position: relative;
  overflow: hidden;

  color: $grey--600;
  text-align: center;
}

.m-footer__foreground {
  position: relative;
  z-index: $index--b;
}

.m-footer__submit {
  display: inline-block;

  @include media($phone) {
    margin-top: em($ratio--s);
  }
  @include media($tablet__up) {
    margin-left: em($ratio--s);
  }

  color: $color2--500;
  @include state--hover {
    color: $color1--500;
  }
  &:active {
    color: $color1--900;
  }
}

.m-footer__title {
  color: $color1--700;
}
.m-footer__underline {
  color: $color1--300;
}

.m-footer__text {
  @include media($tablet--portrait) {
    @include span-columns(4);
    @include shift(1);
  }
  @include media($nb--large) {
    @include span-columns(6);
    @include shift(1);
  }
  // @include media($tablet--up) {
    // margin-bottom: em($ratio--m);
  // }
}

.m-footer__background {
  @include media($phone) {
    display: none;
  }
}

[class^="m-footer__shape"],
[class*=" m-footer__shape"] {
  position: absolute;
  fill: none;
  stroke-width: 3;

  @include media($tablet--portrait) {
    transform: scale(.45);
    stroke-width: 5;
  }
}

.m-footer__shape--circle {
  stroke: $color3--400;
}
.m-footer__shape--parallel {
  stroke: $grey--300;
}
.m-footer__shape--triangle {
  stroke: $color2--400;
}
.m-footer__shape--pie {
  stroke: $color4--400;
}
.m-footer__shape--rectangle {
  stroke: $color1--400;
}

@include media($tablet) {
  .m-footer__shape--circle {
    left: 15%;
    top: -12.5%;
  }
  .m-footer__shape--parallel {
    left: 10%;
    bottom: -20%;
  }
  .m-footer__shape--triangle {
    left: -5%;
    top: 10%;
  }
  .m-footer__shape--pie {
    right: -5%;
    top: 5%;
  }
  .m-footer__shape--rectangle {
    right: -10%;
    bottom: 10%;
  }
}

@include media($desktop) {
  .m-footer__shape--circle {
    left: 55%;
    top: -15%;
  }
  .m-footer__shape--parallel {
    left: 7.5%;
    bottom: -20%;
  }
  .m-footer__shape--triangle {
    left: -5%;
    top: 10%;
  }
  .m-footer__shape--pie {
    right: -5%;
    top: 15%;
  }
  .m-footer__shape--rectangle {
    right: -10%;
    bottom: 10%;
  }
}
