section.m-catalogue.o-section--dark
  .l-wrap
    h2.m-catalogue__title.t-h2 radost na 
      span.t-h2__underline míru
    .m-catalogue__intro
      p.t-lead Ruční výroba nám umožňuje použití nejrůznějších kombinací textilního plátna a&nbsp;dřevěné dýhy &mdash; díky tomu si můžete notebuuk upravit přesně podle Vašich představ.
    ul.o-swatches
      +swatch("wood", 0)
      +swatch("wood", 6)
      +swatch("color", 2)
      +swatch("wood", 2)
      +swatch("color", 4)
      +swatch("wood", 5)
      +swatch("color", 6)
      +swatch("wood", 8)
      +swatch("color", 7)
      li.o-swatches__content
        p.t-lead Vybírat můžete z 9 sytě probarvených, na dotek přijemných pláten a&nbsp;12 typů dřevin &mdash; od dobře známého buku až po odvážné zebrano. Teď už jen to příjemné&hellip; vybrat si ten svůj!
      +swatch("wood", 10)
      +swatch("color", 8)
      +swatch("wood", 1)
      +swatch("wood", 3)
      +swatch("color", 1)
      +swatch("wood", 4)
      li.o-swatches__note
        p Dostupné barvy plátna a&nbsp;dřeva můžete vidět v okolí &mdash; najetím myši odhalíte název. Napište nám a&nbsp;my se ozveme s&nbsp;aktuálně dostupným sortimentem.
      +swatch("color", 0)
      +swatch("color", 3)
      +swatch("wood", 7)
      +swatch("color", 5)
      +swatch("wood", 9)
      +swatch("wood", 11)

